@import "../../scss/index.scss";

.search-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .ant-card {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 32px !important;
    width: 100%;

    @include respond(small) {
      width: calc(50% - 16px);
    }
    @include respond(large) {
      width: calc(33.33% - 16px);
    }
    @include respond(extralarge) {
      width: calc(25% - 16px);
    }

    &-head-title {
      color: #194f82;
    }

    &-body {
      padding: 0;

      .image {
        background-color: #d87f74;
        background-size: cover;
        height: 250px;
      }
      .content {
        padding: 20px;

        h3 {
          font-weight: 700;
        }

        a {
          button {
            background-color: #d87f74;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
