.error404 {
  height: calc(100vh - 112px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 60px;
    font-weight: 800;
  }

  h2 {
    font-size: 40px;
  }
}
