.signin-form {
  h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
  }

  form {
    label,
    .ant-input,
    .ant-btn {
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px !important;
    }
    .ant-btn {
      width: 100%;
    }
  }
}
